* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --pink: #e05b48;
  --darkGrey: #2e3b4d;
  --silver: #f4f8fc;
  --toolsBorder: #e1e8f2;
  --toolsA: #718799;
  --sectionColA: #d23923;
  --developersA: #7a8799;
  --devleoperColHover: #FBFBFB;
}
header {
  width: 80%;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 671px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style-type: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
nav a {
  color: inherit;
  text-decoration: none;
}
button {
  width: 184px;
  height: 41px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: white;
  background-color: var(--pink);
}
main {
  height: 650px;
  width: 100%;
  background-color: var(--silver);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .mainRow {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9em;
}
main .mainCol {
  width: 550px;
  height: 292px;
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-direction: column;
  color: var(--darkGrey);
}
main h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}
main p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}
.tools {
  width: 80%;
  height: 80px;
  margin-top: 3em;
  border-top: 1px solid var(--toolsBorder);
  background-color: var(--silver);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgRow {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: var(--toolsA);
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.sectionRow {
  width: 90%;
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionCol {
  height: 230px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sectionCol h1 {
  font-size: 28px;
  line-height: 39px;
  font-weight: 700;
  color: var(--darkGrey);
}
.sectionCol p {
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: var(--darkGrey);
}
.sectionCol .hr {
  width: 60px;
  border-top: 3px solid var(--pink);
}
.sectionCol a {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: var(--sectionColA);
  text-decoration: none;
}
.sectionRow img {
  width: 656px;
  height: 383px;
}
#img1 {
  height: 275px;
}
.developers {
  width: 100%;
  height: 675px;
  background-color: var(--silver);
  display: flex;
  justify-content: center;
  align-items: center;
}
.developers .content {
  height: 420px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.developers h1 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
}
.developers .hr {
  width: 100px;
  border-bottom: 4px solid var(--darkGrey);
}
.developers p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.developersRow{
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
}
.developersRow a{
  color: var(--darkGrey);
  text-decoration: none;
}
.developersCol{
  width: 383px;
  height: 240px;
  background-color: white;
  box-shadow: 0 0 10px silver;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.developersCol img{
  width: 98px;
  height: 35px;
}
.developersCol .readFullStory {
  height: 32px;
  width: 345px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}
.join{
  width: 100%;
  height: 272px;
}